*{
    font-size: 15px;
    font-weight: normal;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 8px;

}
main{
    display: flex;
    justify-content:center;
    margin: 70px;
}

h2{
    text-align: left;
    margin: 20px;
}

li{
    list-style: none;
    background-color: blueviolet;
    color: white;
    width: fit-content;
    padding:  5px;
    border-radius: 5px;
    margin: 10px;
}
li:hover{
    cursor: pointer;
}
.next{
    /* display: none; */
    position: relative;
    left: 100%;
}