:root{
    --bttnclr: blueviolet;
    --bttnshdw: rgb(73, 35, 108);
    --txtclr: white;
    --sectnshdw: rgb(128, 128, 128, 0.568);
}
*{
    font-size: 15px;
    font-weight: normal;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
main{
    display: flex;
    justify-content:center;
    margin: 70px;
}
section{
    padding: 2%;
    text-align: left;
    box-shadow: 0px 0px 10px 3px var(--sectnshdw);
    border-radius: 5px;
    width: 75%;
}
h2{
    font-size: 25px;
    font-weight:bold;
    margin: 15px 10px;
}
p{
    margin: 15px 10px;
}
div{
    border-top: 1px solid rgba(166, 166, 166, 0.499);
    font-size: large;
    color: rgba(96, 92, 92, 0.753);
    padding: 5px;
}
li:hover, input:hover, button:hover{
    cursor: pointer;
}
.next{
    position: relative;
    left: 100%;
}
.answers li, .start,
button, input[type="submit"]{
    background-color: var(--bttnclr);
    color: var(--txtclr); 
    border-radius: 5px; 
    box-shadow: 2px 2px var(--bttnshdw);
}
.answers li, .start{
    list-style: none;
    width: fit-content;
    padding:  5px ;
    margin: 10px;
}
button, input[type="submit"]  {
    border: none;
    margin: 5px;
    padding: 3px 5px;
}
label{
    padding: 0 5px 0 0;
}
a{
    text-decoration: none;
    color: var(--bttnclr);
}
#highscore{
    background-color: rgba(156, 81, 226, 0.541);
    list-style-type: style;
    width: 20%;
    margin: 1%;
    padding: 3px;
}

@media screen and (max-width:503px ) {
    form,section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input,label{
        margin: 5px 0px;
    }
}